@media screen and (min-width: 700px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    main div {
        grid-template-columns: repeat(3, 1fr);
    }
}